<div class="container">
  <div class="row">
    <!--show differernt slogen if current_user-->
    <% if user_signed_in? %>
      <div class="col-2 offset-7 col-sm-2 offset-sm-10 mb-2">
        <%= link_to 'Ask Question', new_question_path, class:"btn btn-primary" %>
      </div>
    <% else %>
      <h4><%= "If you want to ask something, you need to login in." %></h4>
    <% end %>
  </div>

  <!--Question list-->
  <div class="card">
    <ul class="list-group list-group-flush">
      <% @questions.each do |question| %>
        <%= render :partial => "shared/question_item", locals: {question: question} %>
      <% end %>
    </ul>
  </div>
  <div class="container pagination justify-content-center mt-2" >
    <%= paginate @questions, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  </div>
</div>  