<div class="container">
  <div class="card">
    <h5 class="card-header text-center">
      <%= @favorited_questions.size %> questions in <%= @user.name %>'s favorite list
    </h5>
     <ul class="list-group list-group-flush">
      <!--Question list-->
      <%  @favorited_questions.each do |question| %>
        <%= render :partial => "shared/question_item", locals: {question: question} %>
      <% end %>
    </ul>
  </div> 
</div>  